@model TrashCollectorAlso.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weeklyPickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weeklyPickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceIsSuspended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceIsSuspended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickupConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickupCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extraPickupRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extraPickupRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extraPickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extraPickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extraPickupConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extraPickupConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extraPickupCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extraPickupCharge)
        </dd>

    </dl>
</div>

<p>
    @*@Html.ActionLink("Update Customer Information", "Edit", new { id = Model.Id }) |*@
    @{
        if (User.IsInRole("Customer"))
        {
            @Html.ActionLink("Request a One-Time Pickup", "Index");
        }
        else if (User.IsInRole("Employee"))
        {
            @Html.ActionLink("Update Customer Information", "Edit", new { id = Model.Id })
            <br>
            @Html.ActionLink("View this junk on a map", "../Customers/MapIt", new { id = Model.Id })

        }
        else
        {
            @Html.ActionLink("Back to List", "Index");
        }
    }

</p>
